html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  align-items: center;
}
.header {
  background-color: #372f2c;
  width: 100%;
  height: 50px;
}

.footer {
  background-color: #372f2c;
  width: 100%;
  height: 100px;
}

.navigation {
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  text-align: right;
  text-justify: auto;
  box-shadow: 0px 5px 5px #eee;
  margin-bottom: 20px;
}

.logo {
  width: 150;
  height: 80;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(images/logo.png);
  margin-left: 20px;
  margin-top: 5px;
}

.section-header {
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  text-align: center;
  align-items: center;
}

.section-header div {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.section-header b {
  display: block;
  flex: 1;
  height: 2px;
  opacity: .1;
  background-color: black;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #aaa;
}
.row {
  height: 50%;
}
.col-12 {
  width: 100%;
  height: 100%;
  position: relative;
}
.col-6 {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
}
.bg-fill {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(0.5);
}

#banner-grid {
  height: 650px;
  font-size: 0;
}

#banner-grid #banner-1 .bg-fill {
  background-image: url(images/JHornig-Kaffee-kaufen.jpg);
}

#banner-grid #banner-1:hover .bg-fill {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#banner-grid #banner-2 .bg-fill {
  background-image: url(images/Bio-Tee-Sortiment.jpg);
}

#banner-grid #banner-2:hover .bg-fill {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#banner-grid #banner-3 .bg-fill {
  background-image: url(images/JHornig-Weihnachten.jpg);
}

#banner-grid #banner-3:hover .bg-fill {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#banner-grid #banner-4 .bg-fill {
  background-image: url(images/JHornig-Kaffee-fuers-Buero.jpg);
}

#banner-grid #banner-4:hover .bg-fill {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.banner {
  overflow: hidden;
}

.ad {
  width: 15%;
  height: 100%;
  display: inline-block;
  position: relative;
  margin: 5%;
}

.ad-text {
  font-size: 18px;
  display: block;
  position: relative;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.ad-header {
  opacity: 0.7;
  margin: 5px;
}

.ad-type {
  color:#552d00;
  margin: 5px;
}

.ad-price {
  font-weight: 600;
  margin: 5px;
}

.ad-note {
  opacity: 0.5;
  margin: 5px;
}

#ad-header {
  text-align: center;
}

#ad-grid {
  height: 650px;
  font-size: 0;
  margin: 0 50px;
}

.bg-text {
  position: relative;
  justify-content: center;
  top: 35%;
  text-align: center;
}

.bg-text div {
  color: white;
  position: relative;
}

.bg-header {
  font-size: 20;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 10px;
}

.bg-title {
  font-size: 25;
  font-family: 'Varela Round', sans-serif;
}

#banner-1 .bg-title {
  font-size: 40;
  margin-bottom: 10px;
}

.btn {
  border-radius: 0;
  border: 2px solid white;
  background: transparent;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  width: 180px;
  height: 40px;
  position: relative;
}

.btn .fas {
  transition: all 0.3s;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.btn span {
  color: white;
  transition: all 0.3s;
  position: absolute;
  left: 30%;
  top: 10px;
}

.btn:hover {
  background: white;
}

.btn:hover span {
  left: 35%;
  color: black;
}

.btn:hover .fas {
  opacity: 1;
}

.follow {
  overflow: hidden;
  width: 12.5%;
  height: 200px;
  display: inline-block;
  position: relative;
}

#follow-images {
  height: 180px;
  font-size: 0;
}

.bg-fill-follow {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#follow-images #follow-1 .bg-fill-follow {
  background-image: url(images/73398114_148107643159163_1942507915302286756_n.jpg);
}

#follow-images #follow-2 .bg-fill-follow {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#follow-images #follow-3 .bg-fill-follow {
  background-image: url(images/79285307_450494392303250_7342517762692751450_n.jpg);
}

#follow-images #follow-4 .bg-fill-follow {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#follow-images #follow-5 .bg-fill-follow {
  background-image: url(images/79546741_1493589284140884_3290171810161717223_n.jpg);
}

#follow-images #follow-6 .bg-fill-follow {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#follow-images #follow-7 .bg-fill-follow {
  background-image: url(images/80573028_2594693110648891_8941356308578861951_n.jpg);
}

#follow-images #follow-8 .bg-fill-follow {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#description {
  background-color: #f3ebe3;
}

.description-row {
  width: 70%;
  margin: auto;
}

.description-header {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  color: rgba(0,0,0,0.5)
}

.description-block {
  display: inline-block;
  width: 45%;
  vertical-align:top;
  margin: 2%;
  font-family: 'Varela Round', sans-serif;
  color: rgba(0,0,0,0.5)
}

.description-row b {
  display: block;
  margin-top: 10px;
  height: 3px;
  width: 30px;
  opacity: .1;
  background-color: black;
}

#link {
  background-color: #f3ebe3;
}

.link-row {
  width: 70%;
  margin: auto;
}

.link-header {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  color: rgba(0,0,0,0.5)
}

.link-block {
  font-size: 15px;
  display: inline-block;
  width: 20%;
  vertical-align:top;
  margin: 2%;
  font-family: 'Varela Round', sans-serif;
  color: rgba(0,0,0,0.5)
}

.link-row b {
  display: block;
  margin-top: 10px;
  height: 3px;
  width: 30px;
  opacity: .1;
  background-color: black;
}

#link a {
  color:#552d00;
  margin: 10px 0;
  display: block;
  text-decoration: none;
}

#link a:hover {
  color:#e63126;
}

.link-block img {
  margin-top: 10px;
  max-width: 100px;
  max-height: 20px;
}

#license-image {
  max-height: 100px;
}

#footer-link {
  display: flex;
  width: 60%;
  margin: auto auto;
  justify-content: space-between;
}

#footer-link a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin: 20px 5px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Varela Round', sans-serif;
}

#footer-link a:hover {
  color: rgba(255, 255, 255, 0.9);
}

#copyright {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 5px;
  text-align: center;
}