html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  align-items: center;
}

.header {
  color:white;
  display: flex;
  flex-direction: row;
  background-color: #372f2c;
  width: 100%;
  height: 50px;
  font-size: small;
  align-items: center;
}

.header i {
  margin-left: 10px;
  margin-right: 10px;
}

.header-left {
  display: flex;
  flex-grow: 1;
  margin-left: 50px;
}

.header-right {
  display: flex;
}

.button-1 {
  font-weight: bold;
  justify-self: flex-start;
  color:rgba(255, 255, 255, 0.8);
  margin-right: 10px;
}

.button-2 {
  font-weight: bold;
  text-align: right;
  color:rgba(255, 255, 255, 0.8);
  margin-right: 30px;
}

.header-button:hover {
  color:white ;
}

.footer {
  background-color: #372f2c;
  width: 100%;
  height: 100px;
}

.navigation {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  width: 100%;
  text-align: left;
  text-justify: auto;
  box-shadow: 0px 5px 5px #eee;
  font-size: large;
}

.nav-separator{
  width: 10%;
}

.navigation i {
  font-size: small;
  margin-left: 10px;
}

ul {
	display: flex;
  max-width: 1000px;
  list-style-type: none;
  font-family: 'Varela Round', sans-serif;
  align-items: center;
  font-weight: bold;
}

li {
  padding-left: 10px;
  align-items: flex-start;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
	min-width: 80px;
	margin: auto;
}

li .underline {
  background-color: #552d00;
  margin-top: 10px;
  height: 5px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

li:hover .underline {
  opacity: 1;
}

.logo {
  width: 150;
  height: 80;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(images/logo.png);
  margin-left: 20px;
  margin-top: 5px;
}

.section-header {
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  text-align: center;
  align-items: center;
}

.section-header div {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.section-header b {
  display: block;
  flex: 1;
  height: 2px;
  opacity: .1;
  background-color: black;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #aaa;
}
.row {
  height: 50%;
}
.col-12 {
  width: 100%;
  height: 100%;
  position: relative;
}
.col-6 {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
}

.bg-fill {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(0.5);
}

#banner-grid {
  height: 650px;
  font-size: 0;
}

#banner-grid #banner-1 .bg-fill {
  background-image: url(images/JHornig-Kaffee-kaufen.jpg);
}

#banner-grid #banner-1:hover .bg-fill {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#banner-grid #banner-2 .bg-fill {
  background-image: url(images/Bio-Tee-Sortiment.jpg);
}

#banner-grid #banner-2:hover .bg-fill {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#banner-grid #banner-3 .bg-fill {
  background-image: url(images/JHornig-Weihnachten.jpg);
}

#banner-grid #banner-3:hover .bg-fill {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#banner-grid #banner-4 .bg-fill {
  background-image: url(images/JHornig-Kaffee-fuers-Buero.jpg);
}

#banner-grid #banner-4:hover .bg-fill {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.banner {
  overflow: hidden;
}

.ad {
  width: 15%;
  height: 100%;
  display: inline-block;
  position: relative;
  margin: 5%;
}

.ad-text {
  font-size: 18px;
  display: block;
  position: relative;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.ad-header {
  opacity: 0.7;
  margin: 5px;
}

.ad-type {
  color:#552d00;
  margin: 5px;
}

.ad-price {
  font-weight: 600;
  margin: 5px;
}

.ad-note {
  opacity: 0.5;
  margin: 5px;
}

#ad-header {
  text-align: center;
}

#ad-grid {
  height: 650px;
  font-size: 0;
  margin: 0 50px;
}

.newsletter {
  width: 100%;
  height: 300px;
  background-color: #402100;
  text-align: center;
}

.newsletter-header {
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 30px;
}

/* .newsletter-text-container {
  width: 50%;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 30px;
} */

.newsletter-text {
  width: 35%;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0 auto;
}

.newsletter input {
  display: block;
  width: 30%;
  height: 40px;
  padding: 10px;
  margin: 20px auto;
}

.newsletter #submit {
  display: block;
  width: 10%;
  height: 40px;
  padding: 10px;
  margin: 20px auto;
  color: white;
  border: 1px solid #552d00;
  background-color: #552d00;
}

.newsletter #submit:hover {
  border: 1px solid #552d00;
  background-color: #402100;
}


.bg-text {
  position: relative;
  justify-content: center;
  top: 35%;
  text-align: center;
}

.bg-text div {
  color: white;
  position: relative;
}

.bg-header {
  font-size: 20;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 10px;
}

.bg-title {
  font-size: 25;
  font-family: 'Varela Round', sans-serif;
}

#banner-1 .bg-title {
  font-size: 40;
  margin-bottom: 10px;
}

.btn {
  border-radius: 0;
  border: 2px solid white;
  background: transparent;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  width: 180px;
  height: 40px;
  position: relative;
}

.btn .fas {
  transition: all 0.3s;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.btn span {
  color: white;
  transition: all 0.3s;
  position: absolute;
  left: 30%;
  top: 10px;
}

.btn:hover {
  background: white;
}

.btn:hover span {
  left: 35%;
  color: black;
}

.btn:hover .fas {
  opacity: 1;
}

.follow {
  overflow: hidden;
  width: 12.5%;
  height: 200px;
  display: inline-block;
  position: relative;
}

#follow-images {
  height: 180px;
  font-size: 0;
}

.bg-fill-follow {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#follow-images #follow-1 .bg-fill-follow {
  background-image: url(images/73398114_148107643159163_1942507915302286756_n.jpg);
}

#follow-images #follow-2 .bg-fill-follow {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#follow-images #follow-3 .bg-fill-follow {
  background-image: url(images/79285307_450494392303250_7342517762692751450_n.jpg);
}

#follow-images #follow-4 .bg-fill-follow {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#follow-images #follow-5 .bg-fill-follow {
  background-image: url(images/79546741_1493589284140884_3290171810161717223_n.jpg);
}

#follow-images #follow-6 .bg-fill-follow {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#follow-images #follow-7 .bg-fill-follow {
  background-image: url(images/80573028_2594693110648891_8941356308578861951_n.jpg);
}

#follow-images #follow-8 .bg-fill-follow {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#description {
  background-color: #f3ebe3;
}

.description-row {
  width: 70%;
  margin: auto;
}

.description-header {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  color: rgba(0,0,0,0.5)
}

.description-block {
  display: inline-block;
  width: 45%;
  vertical-align:top;
  margin: 2%;
  font-family: 'Varela Round', sans-serif;
  color: rgba(0,0,0,0.5)
}

.description-row b {
  display: block;
  margin-top: 10px;
  height: 3px;
  width: 30px;
  opacity: .1;
  background-color: black;
}

#link {
  background-color: #f3ebe3;
}

.link-row {
  width: 70%;
  margin: auto;
}

.link-header {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  color: rgba(0,0,0,0.5)
}

.link-block {
  font-size: 15px;
  display: inline-block;
  width: 20%;
  vertical-align:top;
  margin: 2%;
  font-family: 'Varela Round', sans-serif;
  color: rgba(0,0,0,0.5)
}

.link-row b {
  display: block;
  margin-top: 10px;
  height: 3px;
  width: 30px;
  opacity: .1;
  background-color: black;
}

#link a {
  color:#552d00;
  margin: 10px 0;
  display: block;
  text-decoration: none;
}

#link a:hover {
  color:#e63126;
}

.link-block img {
  margin-top: 10px;
  max-width: 100px;
  max-height: 20px;
}

#license-image {
  max-height: 100px;
}

#footer-link {
  display: flex;
  width: 60%;
  margin: auto auto;
  justify-content: space-between;
}

#footer-link a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin: 20px 5px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Varela Round', sans-serif;
}

#footer-link a:hover {
  color: rgba(255, 255, 255, 0.9);
}

#copyright {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 5px;
  text-align: center;
}

.signup {
  width: 60%;
  height: 800px;
  margin: 0 auto;
}

.signup-header {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}

/* .newsletter-text-container {
  width: 50%;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 30px;
} */

.signup-text {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.signup input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 20px auto;
}

.signup #agree {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.signup #submit {
  display: block;
  width: 10%;
  height: 40px;
  padding: 10px;
  color: white;
  margin: 0px 0px;
  border: 1px solid #552d00;
  background-color: #552d00;
}

.signup #submit:hover {
  border: 1px solid #552d00;
  background-color: #402100;
}


#carousel-container {
  width: 1080px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#prev-btn {
  position: absolute;
  left: 0;
  top: 175px;
  width: 50px;
  height: 50px;
  background-color: white;
}

#prev-btn i {
  color: black;
}

#next-btn {
  position: absolute;
  right: 0;
  top: 175px;
  width: 50px;
  height: 50px;
  background-color: white;
}

#next-btn i {
  color: black;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  color: red;
  font-size: 30px;
  text-align: center;
}

.item.prep-left {
  left: 1080px;
}

.item.prep-right {
  left: -360px;
}

.bg-fill-item {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#carousel-container #item-1 .bg-fill-item {
  background-image: url(images/73398114_148107643159163_1942507915302286756_n.jpg);
}

#carousel-container #item-2 .bg-fill-item {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#carousel-container #item-3 .bg-fill-item {
  background-image: url(images/79285307_450494392303250_7342517762692751450_n.jpg);
}

#carousel-container #item-4 .bg-fill-item {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#carousel-container #item-5 .bg-fill-item {
  background-image: url(images/79546741_1493589284140884_3290171810161717223_n.jpg);
}

#carousel-container #item-6 .bg-fill-item {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}

#carousel-container #item-7 .bg-fill-item {
  background-image: url(images/80573028_2594693110648891_8941356308578861951_n.jpg);
}

#carousel-container #item-8 .bg-fill-item {
  background-image: url(images/77091153_598060390965428_4070489076278642675_n.jpg);
}


.select-header {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}

#select-grid {
  height: 1000px;
  font-size: 0;
  width: 1200px;
  margin: 0 auto;
}

.select-item {
  vertical-align:top;
  width: 300px;
  display: inline-block;
  position: relative;
  margin: 49px;
  margin-top: 50px;
  border: 1px solid #ececec;
  transition: box-shadow 0.3s ease-in-out;
}

.select-text {
  font-size: 18px;
  display: block;
  position: relative;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.select-text-header {
  opacity: 0.7;
  height: 40px;
  font-weight: 600;
  background-color: rgba(0,0,0,0.02);
  border-bottom: 1px solid #ececec;
}

.select-text-description {
  font-size: 30px;
  margin: 15px 30px;
}

.select-text-tax {
  opacity: 0.6;
  font-size: 12px;
  margin: 15px 50px;
}

.select-text-feature {
  opacity: 0.6;
  font-size: 15px;
  margin: 15px 50px;
}

.select-text b {
  display: block;
  margin: 10px auto;
  height: 1px;
  width: 80%;
  opacity: .1;
  background-color: black;
}

#select-2 {
  margin-top: 0px;
  border: 1px solid #552d00;
  box-shadow: 0px 0px 20px 2px rgba(85,45,0,0.5);
}

#select-2 .select-text-header {
  opacity: 1;
  color: white;
  background-color: #552d00;
  border-bottom: 1px solid #552d00;
}

#select-1:hover {
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
}

#select-3:hover {
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
}